.chat-container {
    background-color: $container;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 1rem;
    @include for-normal-layout {
        margin-bottom: 0;
    }
    border-radius: .5rem;
}