.chat-container {
    background-color: $container;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: .5rem;
    @include for-normal-layout {
    margin-right: .5rem;
    }
    border-radius: .5rem;
}