.chat-container {
    background-color: $container;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0.5rem;
    overflow: hidden;
    @include for-normal-layout {
        margin-right: 0.5rem;
    }
    border-radius: 0.5rem;
}
