// Colors
$bgc: #ffffff;
$container: #1616160A;
$user: #E75818;
$text: #161616;
$subtext: #16161666;

// Breakpoints
$mobile-breakpoint: 500px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1100px;
$wide-breakpoint: 1550px;
